
<mat-divider ngClass="!border-t !my-3" />

<div class="container px-4 mx-auto">
  <div class="flex flex-col md:flex-row items-center justify-between gap-2 flex-col-reverse">
    <div>
      <p>&copy; 2024 Mahaan Kosh. All rights reserved.</p>
    </div>

    <div class="flex-shrink-0">
      <div>
        <nav>
          <ul class="flex flex-row gap-3 font-medium">
            <li><a href="" mat-button>Github</a></li>
            <li><a href="" mat-button>Instagram</a></li>
            <li><a href="" mat-button>Terms</a></li>
            <li><a href="" mat-button>Privacy</a></li>
            <li><a href="" mat-button>Cookies</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
