.logo-container {
  position: relative;
  overflow: hidden;
  will-change: opacity, visibility;
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  font-family: "Bebas Neue";
  font-size: 64px;
  text-align: center;
  color: rgb(var(--color-surface-500));

  @media screen and (min-width: 768px) {
    font-size: 96px;
  }
}

mk-search {
  margin: 0 auto;
}

.keyboard {
  margin: 0 auto;
}
