:host {
  display: block;
  height: 84px;
}

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &__item {
    // flex-basis: calc(1 / 3 * 100%);
  }
  &__logo {
    font-size: 28px;
  }
  &__btns {
    display: flex;
    gap: 20px;
    font-size: 18px;
    justify-content: end;
  }
  &__btn {
  }
}

#mahan-kosh-logo {
  height: 36px;
}
