<header class="header">
  <div class="container h-full">
    <div class="header__wrapper">
      <div class="header__item">
        <div class="header__logo">
          <img
            id="mahaan-kosh-logo"
            src="assets/svg/mahaan-kosh-logo-full.svg"
            alt="Mahaan Kosh"
          />
        </div>
      </div>
      <div class="header__item">
        <div class="header__btns">
          <div class="header__btn"><button mat-button>About</button></div>
          <div class="header__btn">
            <button mat-flat-button color="primary">Support</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
