<div class="mt-16">
  <div class="container px-4 mx-auto">
    <div class="grid grid-cols-4 gap-4">
      <div class="col-span-4 md:col-span-3">
        <div class="entry-card pt-10 shadow-lg">
          <div class="px-10">
            <p class="font-kahan-script leading-normal text-6xl mb-3">
              {{ entry()?.headword }}
            </p>
            <p class="tiro-gurmukhi leading-normal text-6xl mb-3">
              {{ entry()?.unicodeHeadword }}
            </p>

            <div class="">
              <mat-divider></mat-divider>
              <p class="font-kahan-script leading-normal mt-5 mb-3">
                {{ entry()?.definition }}
              </p>
            </div>

            <mat-divider></mat-divider>
            <ul class="entry-definition-list">
              @for (def of entry()?.definitionList; track $index) {
              <li>
                <p>{{ def }}</p>
              </li>
              }
            </ul>
          </div>

          <div class="flex w-full justify-end">
            <button mat-flat-button>
              Show more
            </button>
          </div>
        </div>
      </div>

      <div class="col-span-4 md:col-span-1">
        <img class="mx-auto" src="https://picsum.photos/600" alt="" />
      </div>
    </div>
  </div>
</div>
