<form class="search-bar">
  <mat-form-field appearance="outline">
    <input
      type="text"
      aria-label="Headword"
      class="headword-definition"
      matInput
      #headwordInput
      [formControl]="headwordControl"
      [matAutocomplete]="auto"
      [matAutocompleteConnectedTo]="origin"
      matAutocompletePosition="below"
    />
    <button
      matSuffix
      class="search-bar-clear"
      (click)="clearSearchBar()"
      type="reset"
      [ngClass]="{ hidden: !headwordInput.value }"
    >
      <mat-icon>close_small</mat-icon>
    </button>
    <button
      matSuffix
      [ngClass]="{
        'search-bar-keyboard': true,
        'color-primary-500': showKeyboard
      }"
      (click)="toggleKeyboard()"
      type="button"
    >
      <mat-icon>keyboard</mat-icon>
    </button>
  </mat-form-field>
  <button matRipple class="search-bar-submit" type="submit">
    <mat-icon>search</mat-icon>
  </button>
</form>

<div class="relative">
  <div class="absolute left-0 right-0">
    @if (showKeyboard) {
    <mk-keyboard
      class="tiro-gurmukhi"
      (keyClick)="keyClick($event)"
    ></mk-keyboard>
    }

    <div matAutocompleteOrigin #origin="matAutocompleteOrigin">
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="closeKeyboard()"
      >
        @for (entry of entryHits$ | async; track entry.id) {
        <mat-option [value]="entry.unicodeHeadword">
          <a mkStretchedLink [routerLink]="'/entry/' + entry.unicodeHeadword">
            {{ entry.unicodeHeadword }}
          </a>
        </mat-option>
        }
      </mat-autocomplete>
    </div>
  </div>
</div>
