.key {
  display: grid;
  place-content: center;
  width: 100%;
  height: 42px;

  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #233d4d;
  color: rgb(var(--on-primary));

  @media screen and (min-width: 768px) {
    height: 30px;
  }
}
