/* You can add global styles to this file, and also import other style files */
@use "./app/styles/tailwind";
@use "./app/styles/themes/theme-mahan-kosh";
@use "./app/styles/typography";
@use "./app/styles/material";
@use "./app/styles/fonts";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Lato", Roboto, "Helvetica Neue", sans-serif;
}

.stretched-link {
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
  }
}
